
*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdfdfd;
  background: left linear-gradient(rgba(13, 15, 17, 0.75), rgba(13, 15, 17, 0.75)),url("images/1.jpg");
  background-size:cover;
  background-position:center;
}

.inner-container{
  height: 100%;
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 100px;


}

.inner-container h1{
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 30px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width:1200px){
  .inner-container{
      padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
      background-size: 100%;
      padding: 100px 40px;
  }
  .inner-container{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
      padding: 0;
  }
  .inner-container{
      padding: 60px;
  }
}

a{
  font-size: 20px;
  cursor: pointer;
}
  span:hover, a:hover{
  cursor: pointer;
  color: grey;
}

.text a{
  font-size: 13px;
  color: blue;
  cursor: pointer;
}

.text a:hover{
  font-size: 13px;
  color: #545454;
  cursor: pointer;
}

span{
  font-weight: bold;
  margin-right: 7px;
}

.text span{
  cursor: pointer;
  color: black;
}

.text   span:hover, a:hover{
  font-weight: bold;
  cursor: pointer;
  color: grey;
}